.control-container {
  text-align: center;
  background: white;
  position: relative;
  min-height: 95vh;
  padding: 20px;
}

.logo {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 100px;
  width: 110px;
  border: 2px solid #00167a;
  border-radius: 50%;
  background-color: white;
}

.fondo-superior {
  width: 100%;
  height: 110px;
  object-fit: cover;
  transform: rotate(180deg);
}

.fondo-inferior {
  width: 100%;
  height: 110px;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
}

.titulo {
  font-family: 'Georgia', serif;
  color: black;
  margin: 103px 0 20px;
}

.botones {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: -4px;
}

.botones button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background: #e2edf1;
  border: 2px solid #00167a;
  border-radius: 8px;
  cursor: pointer;
  width: 90%;
  margin: 0 auto;
}

.botones button img {
  width: 105px;
  height: 90px;
  margin-left: 9px;
}
