*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
  text-align: center;
  padding: 20px;
  background: white;
  position: relative;
  align-content: center;
  padding-bottom: 140px;
  height: 92vh;
}

.header {
  display: flex;
}

.logo {
  border: 2px solid #00167a;
  height: 100px;
  border-radius: 50%;
  width: 110px;
  background-color: white;
  z-index: 2;
}
.fondo-superior {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 115px;
  object-fit: cover;
  transform: rotate(180deg);
  z-index: 1;
}

.titulo {
  font-family: 'Georgia', serif;
  font-size: 31px;
  color: black;
  margin: 10px;
}

.botones {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.botones button {
  background-color: #a2c6e2;
  border: 2px solid #00167a;
  color: black;
  padding: 15px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.botones button:hover {
  background-color: #64afec;
}

.fondo-inferior {
  margin-top: 100px;
  width: 100%;
  max-height: 115px;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1; 
}

.vigilante-activo {
  position: absolute;
  top: 15px;
  right: 20px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.85);
  padding: 6px 12px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  font-size: 14px;
  z-index: 2;
}

.icono-vigilante {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 8px;
}

.nombre-vigilante {
  font-weight: bold;
  color: #162144;
}

.vigilante-activo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}

.boton-cerrar-turno {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.boton-cerrar-turno img {
  width: 20px;
  height: 20px;
}

.menu-flotante-home {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 8px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu-flotante-home button {
  background: none;
  border: none;
  padding: 8px 10px;
  text-align: left;
  cursor: pointer;
  width: 150px;
}

.menu-flotante-home button:hover {
  background-color: #f0f0f0;
}

