.login-container {
  background: linear-gradient(to bottom, #92beff, #193785);
  min-height: 100vh;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  position: relative;
  padding-top: 0; 
  text-align: center;
}

.logo {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 100px;
  height: 100px;
  border: 2px solid #00167a;
  border-radius: 50%;
  background: white;
}

.login-card {
  background: white;
  width: 300px;
  padding: 30px 20px;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}


.login-card h2 {
  font-family: "Georgia", serif;
  color: #00167a;
  margin-bottom: 20px;
  font-size: 20px;
}

.login-card form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.login-card label {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 4px;
}

.login-card input {
  border: 1px solid #00167a;
  padding: 6px;
  border-radius: 4px;
}

.login-card button {
  margin-top: 12px;
  padding: 10px;
  border: none;
  background: linear-gradient(to bottom, #dddddd, #a1a0a0);
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}