@import "./ModuloVigilantes.css";

.btn-nuevo {
  background-color: #0a2a78;
  color: white;
  border: none;
  padding: 7px 12px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-nuevo:hover {
  background-color: #09306e;
}

.acciones-superiores {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.acciones-superiores input {
  padding: 5px;
  border: 1px solid #ccc;
  width: 200px;
  border-radius: 5px;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 350px;
}

.modal-content h3 {
  margin-bottom: 15px;
}

.modal-content input {
  width: 100%;
  padding: 6px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btn-guardar {
  background-color: #0a2a78;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-cancelar {
  background-color: #ccc;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
}
