@import "./ModuloVigilantes.css";

.btn-nuevo {
  background-color: #0a2a78;
  color: white;
  border: none;
  padding: 7px 12px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-nuevo:hover {
  background-color: #09306e;
}

.acciones-superiores {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.acciones-superiores input {
  padding: 5px;
  border: 1px solid #ccc;
  width: 200px;
  border-radius: 5px;
  border-color: #09306e;
  width: 250px;
  border-style: dashed;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background: #fff;
  border-radius: 10px;
  padding: 20px 30px;
  max-width: 450px;
  width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: 2px solid #09306e;
  animation: fadeIn 0.3s ease-in-out;
  text-align: center;
}

.modal-content h3 {
  color: #09306e;
  margin-bottom: 15px;
  font-size: 1.4rem;
  font-weight: bold;
}

.modal-content input {
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.95rem;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn-guardar {
  background-color: #09306e;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.btn-guardar:hover {
  background-color: #09306e;
}

.btn-cancelar {
  margin-top: 15px;
  background-color: #ccc;
  color: black;
  padding: 8px 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-cancelar:hover {
  background-color: #999;
}

.paginacion {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 5px;
}

.paginacion button {
  background: #f5f5f5;
  border: 1px solid #09306e;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 4px;
  color: #09306e;
}

.paginacion button:hover {
  background: #09306e;
  color: white;
}

.paginacion button:disabled {
  background: #ddd;
  cursor: not-allowed;
  color: #666;
}

.paginacion .activo {
  background: #09306e;
  color: white;
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
