.salida-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom,#92beff, #193785);
  padding: 20px;
}

.salida-form {
  background-color: white;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 350px;
}

.logo-form {
  position: absolute;
  top: -69px;
  left: -14px;
  width: 108px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #00167a;
  background-color: white;
}

.salida-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.titulo-negro {
  color: #162144;
}

.titulo-azul {
  color: #428ce2;
}

form {
  margin-top: 27px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: bold;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 2px dashed #00167a;
  outline: none;
  height: 50px;
}

.submit {
  color: black;
  background: linear-gradient(to bottom, #ececec, #b3b1b1);
  border: none;
  padding: 12px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background: linear-gradient(to bottom, #dbeeff, #a2c6e2);
}

@media screen and (min-width: 768px) {

.salida-form{
  max-width: 500px;
  height: 380px;
}

form{
  font-size: 20px;
}

input {
  font-size: 18px;
}

.titulo-negro {
  font-size: 30px;
}

.titulo-azul {
  font-size: 30px;
}  

.submit {
  font-size: 18px;
}
}