.reporte-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: white;
  padding: 20px;
}

.reporte-box {
  background-color: white;
  padding: 40px;
  position: relative;
  max-width: 600px;
  width: 100%;
  border-style: double;
  border-width: 5px; 
  border-style: solid; 
  border-image: linear-gradient(to right, #92beff, #193785) 1
}

.logo-reporte {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #00167a;
  background-color: white;
}

.titulo-negro {
  color: #162144;
}

.titulo-azul {
  color: #428ce2;
}

.filtros {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
}

.input-fecha {
  display: flex;
  align-items: center;
  gap: 4px;
}

.input-fecha input {
  padding: 4px;
  border-radius: 8px;
  border: 1px solid #aaa;
}

.btn-exportar {
  background: #a2c6e2;
  color: white;
  border: none;
  padding: -3px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn-exportar:hover {
  background-color: #094b96;
}

.cards-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-visitante {
  border: 2px solid #00167a;
  padding: 15px;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.icono-img {
  width: 80px;
  height: 45px;
}